.monitoring-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
}
.monitoring-container .error {
  color: #b85033;
  font-weight: bold;
}
.monitoring-container .loading {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.monitoring-container .title {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
